name: docs

on:
  push:
    branches:
      - main
    paths:
      - README.md
      - .github/workflows/docs.yml

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: kdheepak/panvimdoc@main
        with:
          vimdoc: "epubedit"
          dedupsubheadings: false
          version: "Neovim >= 0.9.4"
          demojify: true

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Auto generate docs"
          branch: ${{ github.head_ref }}
